*{
    margin: 0;
    padding: 0;
}

/*--- utilty calsses ----- */ 

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m30{
    margin: 30px;
}
